

.navbar-nav {
    margin-right: 30px;
}
.bg-custom {
    background: #000000;
}

body {
    background-color: #110e0e;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 40%; /* Ancho máximo del contenedor del texto */
    margin: 0 auto; /* Centrar el contenedor del texto */
}

.carousel-caption h1 {
    font-size: 3rem; /* Tamaño de la fuente del título */
    font-weight: 600; /* Peso de la fuente (más ligero) */
}

.carousel-caption p {
    font-size: 1.8rem; /* Tamaño de la fuente del párrafo */
    font-weight: 450; /* Peso de la fuente (más ligero) */
}

.carousel-inner img {
    height: 200px; /* Altura de las imágenes */
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
}
hr {
    border-top: 1px solid #ffffff;
}